<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-icon-message/cells-icon-message.html">
<link rel="import" href="../cells-lists/cells-lists.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="cells-bfm-information-message-styles.html">
<dom-module id="cells-bfm-information-message">
  <template>
    <style include="cells-bfm-information-message-styles"></style>
    <div class="main-container">
      <cells-icon-message
      class="helper"
      type = "[[type]]"
      icon = "[[icon]]"
      heading="[[title]]"
      message="[[topMessage]]"
      >
      <template is="dom-if" if="[[list.length]]">
          <cells-lists class="list" list="[[list]]"></cells-lists>
      </template>
      <p class="downMessage">[[downMessage]]</p>
      <template is="dom-if" if="[[buttonText]]">
        <cells-st-button class="secondary">
          <button class="button-icon-msg" on-click="_continue">[[buttonText]]</button>
        </cells-st-button>
      </template>
    </cells-icon-message>
    </div>
  </template>
  <script src="cells-bfm-information-message.js"></script>
</dom-module>