@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-bfm-information-message;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}

.list{
  padding: .5rem 0 0 0;
  @apply --cells-bfm-information-message-list;
}

.helper{
  padding: 1.5rem;
  align-items: end;
  text-align: left;
  --cells-icon-message-header:#{'{
    font-size: 1.5rem;
    font-weight: bold;
  }'};
  @apply --cells-bfm-information-message-helper;
}

.button-icon-msg{
  margin-top: 2rem;
  outline: 0;
  @apply --cells-bfm-information-message-button-icon-msg;
}